<style>
	.error-box {
		border: 1px solid red;
	}
</style>
<p-toast key="msg"></p-toast>
<div class="grid justify-content-center">
    <div class="col-12 md:col-9 justify-content-between">
        <div class="card p-fluid">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="field">
                    <label for="trackerInstallationCostumerId" class="font-semibold">Cliente</label>
                    <p-dropdown 
                            formControlName="trackerInstallationCostumerId" 
                            [options]="listCustumers" 
                            placeholder="Seleciona una opción"
                            [filter]="true" 
                            filterBy="costumerName" 
                            [showClear]="true"  
                            optionLabel="costumerName" 
                            [disabled]="true"
                            optionValue="id">
                    </p-dropdown>
                    <div *ngIf="form.controls.trackerInstallationCostumerId.invalid">
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationCostumerId.errors?.['required']" >*Campo requerido</small>
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationCostumerId.errors?.['maxlength']" >*Longitud máxima 100</small>
                    </div>
                </div>
                <p>Si requiere hacer un cambio en rastreador o vehiculo favor de solicitar una revisión o desinstalación</p>
                <div class="field" *ngIf="form.controls.trackerInstallationCostumerId.value">
                    <label for="trackerInstallationVehicleId" class="font-semibold">Vehiculo</label>
                    <p-dropdown 
                            formControlName="trackerInstallationVehicleId" 
                            [options]="listVehicles" 
                            placeholder="Seleciona una opción"
                            [filter]="true" 
                            filterBy="vehicleVin" 
                            [showClear]="true"  
                            optionLabel="vehicleVin" 
                            [disabled]="true"
                            optionValue="id">
                    </p-dropdown>
                    <div *ngIf="form.controls.trackerInstallationCostumerId.invalid">
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationCostumerId.errors?.['required']" >*Campo requerido</small>
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationCostumerId.errors?.['maxlength']" >*Longitud máxima 100</small>
                    </div>
                </div>
                <div class="field">
                    <label for="trackerInstallationTrackerId" class="font-semibold">Rastreador</label>
                    <p-dropdown 
                            formControlName="trackerInstallationTrackerId" 
                            [options]="listTrackers" 
                            placeholder="Seleciona una opción"
                            [filter]="true" 
                            filterBy="trackerImei" 
                            [showClear]="true"  
                            optionLabel="trackerImei" 
                            [disabled]="true"
                            optionValue="id">
                    </p-dropdown>
                    <div *ngIf="form.controls.trackerInstallationTrackerId.invalid">
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationTrackerId.errors?.['required']" >*Campo requerido</small>
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationTrackerId.errors?.['maxlength']" >*Longitud máxima 100</small>
                    </div>
                </div>
                <div class="field">
                    <label for="trackerInstallationInstallerId" class="font-semibold">Instalador</label>
                    <p-dropdown 
                        formControlName="trackerInstallationInstallerId" 
                        [options]="listInstallers" 
                        placeholder="Seleciona una opción"
                        [filter]="true" 
                        filterBy="installerName" 
                        [showClear]="true"  
                        optionLabel="installerName" 
                        optionValue="id">
                    </p-dropdown>    
                    <div *ngIf="form.controls.trackerInstallationInstallerId.invalid">
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationInstallerId.errors?.['required']" >*Campo requerido</small>
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationInstallerId.errors?.['maxlength']" >*Longitud máxima 100</small>
                    </div>
                </div>   
                <div class="field">
                    <label for="trackerInstallationDate" class="font-semibold">Fecha de instalación</label>
                    <p-calendar  formControlName="trackerInstallationDate" [showIcon]="true"></p-calendar>
                    <div *ngIf="form.controls.trackerInstallationDate.invalid">
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationDate.errors?.['required']" >*Campo requerido</small>
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationDate.errors?.['maxlength']" >*Longitud máxima 100</small>
                    </div>
                </div>
                <div class="field">
                    <label for="trackerInstallationEngineStop" class="font-semibold">Con paro de motor</label>
                    <div>
                        <p-inputSwitch  inputId="quotationSaleGuaranty" formControlName="trackerInstallationEngineStop" ></p-inputSwitch>
                    </div>
                    <div *ngIf="form.controls.trackerInstallationEngineStop.invalid">
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationEngineStop.errors?.['required']" >*Campo requerido</small>
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationEngineStop.errors?.['maxlength']" >*Longitud máxima 100</small>
                    </div>
                </div>
                <div class="field">
                    <label for="trackerInstallationTypeCut" class="font-semibold">Tipo de corte</label>
                    <p-autoComplete [dropdown]="true" formControlName="trackerInstallationTypeCut"  [suggestions]="listFilteredTypeCuts" (completeMethod)="filterTypeCuts($event)" ></p-autoComplete>

                    <div *ngIf="form.controls.trackerInstallationTypeCut.invalid">
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationTypeCut.errors?.['required']" >*Campo requerido</small>
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationTypeCut.errors?.['maxlength']" >*Longitud máxima 100</small>
                    </div>
                </div>
                
                <div class="field">
                    <label for="trackerInstallationLocation" class="font-semibold">Ubicación del Rastreador</label>
                    <input 
                        pInputText 
                        id="trackerInstallationLocation" 
                        type="text" 
                        formControlName="trackerInstallationLocation" 
                        autofocus />
                    <div *ngIf="form.controls.trackerInstallationLocation.invalid">
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationLocation.errors?.['required']" >*Campo requerido</small>
                        <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationLocation.errors?.['maxlength']" >*Longitud máxima 100</small>
                    </div>
                </div> 
                <div class="field"  >  
                    <label for="imag" class="font-semibold">Evidencia</label>
                    <p-fileUpload #fileUpload 
                    chooseLabel="Adjuntar"
                    
                    [multiple]="true" 
                    accept=".pdf,image/png,image/jpeg"
                    (onSelect)="onUpload($event)"
                    [showUploadButton]="false" 
                    [showCancelButton]="false" 
                    [maxFileSize]=20000000>
                        <ng-template let-file pTemplate="file"></ng-template>
                        <ng-template pTemplate="content">

                           

                    <div *ngFor="let upload of uploadedFiles;">
                        <div class="grid border-bottom-1 surface-border m-2 surface-overlay font-bold ">                           
                            <div class="col-12 md:col-3 lg:col-2 align-content-center	 p-fileupload-filename" style="margin: 0.5rem;"> 
                                <p-image *ngIf="upload['file'].type != 'application/pdf'" [src]="upload['file'].objectURL" class="m-auto" alt="Image" width="150" [preview]="true"></p-image>
                                
                                <a *ngIf="upload['file'].type == 'application/pdf' && upload.hasOwnProperty('id')"  [href]="upload['file'].objectURL" target="_blank" rel="noopener noreferrer" class=" font-bold">
                                    <span  style="font-size: 3rem; color: red"  class="pi pi-file-pdf m-auto"></span>
                                </a>
                                <span *ngIf="upload['file'].type == 'application/pdf' && !upload.hasOwnProperty('id')" style="font-size: 3rem; color: red"  class="pi pi-file-pdf m-auto"></span>

                            </div>
                            <div class="col-12 md:col-3 lg:col-3 align-content-center p-fileupload-filename" style="margin: 0.5rem;"> {{ upload['file'].name}} </div> 
                            <div class="col-12 md:col-3 lg:col-2 align-content-center p-fileupload-filename" style="margin: 0.5rem;"> {{ (upload['file'].size/1024).toFixed(2) }} KB  </div>
                            <div class="col-12 md:col-3 lg:col-3 align-content-center p-fileupload-filename" style="margin: 0.5rem;">
                                <p-autoComplete [dropdown]="true" [(ngModel)]="upload.description"  [ngModelOptions]="{standalone: true}"  [suggestions]="listFilteredDescriptions" (completeMethod)="filterDescriptions($event)"></p-autoComplete>
                            </div>
                            <div class="col-12 md:col-3 lg:col-1 align-content-center">
                                <button type="button" icon="pi pi-times" pbutton="" (click)="removeFile(upload)" class="p-element p-button p-component p-button-icon-only" ng-reflect-icon="pi pi-times"  ><span class="p-button-icon pi pi-times" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                        </ng-template>
                    </p-fileUpload>

                </div>
                <div [ngClass]="{'error-box  ':form.controls.trackerInstallationAccessories.errors  }" >
                    <div class="flex flex-wrap gap-2 m-2">
                        <p-button label="Accesorios"  (onClick)="addRow()" icon="pi pi-plus"  badge="{{form.controls.trackerInstallationAccessories.length}}" ></p-button>
                    </div>
                    <div class="card mt-3" formArrayName="trackerInstallationAccessories">
                        <div *ngIf="form.controls.trackerInstallationAccessories.invalid ">
                            <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationAccessories.errors?.['duplicated']" >*Accesorio duplicado</small>

                        </div>
                        <p-table responsiveLayout="stack" [value]="infoAccessoriesArray().controls" dataKey="index" editMode="row" [tableStyle]="{'minx-width': '50rem'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th rowspan="2" style="width:20%">Accesorio</th>   
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-trackerInstallationAccessory  let-i="rowIndex">
                                <tr   [pEditableRow]="trackerInstallationAccessory" [formGroupName]="i">
                                    <td>
                                        <div class="col-12">
                                            <p-dropdown [options]="listAccessories"  appendTo="body" [filter]="true" formControlName="trackerInstallationAccessoryProductId" filterBy="label" [showClear]="true" placeholder="Selecciona uno" optionValue="value" optionLabel="label" [pTooltip]="getLabel(form.controls.trackerInstallationAccessories.controls[i].controls.trackerInstallationAccessoryProductId.value)"  [style]="{'width':'22rem'}" ></p-dropdown>
                                            <div *ngIf="form.controls.trackerInstallationAccessories.controls[i].controls.trackerInstallationAccessoryProductId.invalid">
                                                <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.trackerInstallationAccessories.controls[i].controls.trackerInstallationAccessoryProductId.errors?.['required']" >*Campo requerido</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex align-items-center justify-content-center gap-2">
                                            <button pButton pRipple type="button"  (click)="removeRow(trackerInstallationAccessory,i)" pCancelEditableRow icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"></button>                                                
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>              
                <div class="col-12 flex justify-content-end mt-4">
                    <button pButton pRipple class="p-button-outlined w-8rem mr-3"  label="Cancelar" (click)="cancel($event)" ></button>
                    <button pButton pRipple class="p-button-primary w-8rem"  label="Guardar" ></button>
                </div>
            </form>
        </div>
    </div>
</div>
