<p-confirmDialog  #confirm [style]="{width: '50vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-toast key="msg"></p-toast>

<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <!--<p-toast></p-toast> -->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/tickets/add/']"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="delete(1,null)" [disabled]="!selectedTickets || !selectedTickets.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt 
            [value]="tickets"  
            [lazy]="true"
            [resetPageOnSort]="false"
            [multiSortMeta]="[{field: 'id', order: 1}]"
            sortMode="multiple" 
            (onLazyLoad)="load($event)" 
            [lazyLoadOnInit]="true"
            [paginator]="true" 
            [totalRecords]="totalRows"
            [rowsPerPageOptions]="[10,25,50]" 
            [loading]="loading"    
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{{ getPageRange(page, limit, totalRows) }}"
            [(selection)]="selectedTickets" selectionMode="multiple"
            [rows]="10" [rowHover]="true"  dataKey="id" responsiveLayout="scroll" [breakpoint]="'760px'" [tableStyle]="{'minx-width': '50rem'}">
                
                <ng-template pTemplate="header">
                    <tr>
                        <th >
							<!-- expander -->
						</th>
						<th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="ticketCostumerId">
                            Folio <p-sortIcon field="ticketCostumerId"></p-sortIcon>
                         </th>
                         <th pSortableColumn="ticketDate">
                            Fecha de creación <p-sortIcon field="ticketDate"></p-sortIcon>
                         </th>
                        <th pSortableColumn="ticketCostumerId">
                           Cliente <p-sortIcon field="ticketCostumerId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ticketUserId">
                            Monitorista <p-sortIcon field="ticketUserId"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ticketDescription">
                            Descripción <p-sortIcon field="ticketDescription"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ticketEndDate">
                            Fecha de cierre <p-sortIcon field="ticketEndDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ticketStatus">
                            Estado <p-sortIcon field="ticketStatus"></p-sortIcon>
                        </th>
                        <th>
                            <!-- Espacio para que se vea bien las columnas -->
                        </th>
                    </tr>
                   <tr>
                        <th>
                            <!-- expander -->
                        </th>
                        <th> 
                            <!-- checkbox -->
                        </th>
                        <th>
                            <p-columnFilter type="text" field="ticketFolio" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="ticketDate" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="ticketCostumerId['costumerName']" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="ticketUserId['userFullName']" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="ticketDescription" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="ticketEndDate" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="ticketStatus" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <!-- Espacio para que se vea bien las columnas -->
                        </th>
                    </tr> 
                </ng-template>

                <ng-template pTemplate="body" let-ticket let-expanded="expanded"> 
                    <tr>
                        <td>
							<button type="button" pButton pRipple [pRowToggler]="ticket" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
						</td>
                        <td>
                            <p-tableCheckbox [value]="ticket"></p-tableCheckbox>
                        </td>
                        <td>{{ticket.ticketFolio}}</td>
                        <td>{{ticket.ticketDate| date: 'dd-MM-yyyy'}}</td>
                        <td>{{ticket.ticketCostumerId['costumerName']}}</td>
                        <td>{{ticket.ticketUserId['userFullName']}}</td>
                        <td>{{ticket.ticketDescription}}</td>
                        <td>{{ticket.ticketEndDate == null ? 'Sin registro' : ticket.ticketEndDate | date: 'dd-MM-yyyy'}}</td>
                        <td><p-tag [value]="ticket.ticketStatus" size="large" [severity]="getSeverity(ticket.ticketStatus)"></p-tag></td>
                        <td>
                            <div class="flex">
                                <button pTooltip="Cerrar Ticket" pButton pRipple icon="pi pi-check-square" class="p-button-rounded p-button-success p-button-text" (click)="closeTicket(ticket.id)"></button>
                                <button pTooltip="Editar Ticket" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info p-button-text" [routerLink]="['/tickets/edit/', ticket.id]"></button>
                                <button pTooltip="Eliminar Ticket" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="delete(2,ticket)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-ticket>
					<tr>
						<td colspan="12">
							<div class="p-3" >
								<p-table [value]="ticket.ticketDevices" dataKey="id">                                     
									<ng-template pTemplate="header" class="grid">
                                        <tr>
                                            <th class="col-2">Id</th>
                                            <th class="col-2">Nombre</th>
                                            <th class="col-2">Tipo de dispositivo</th>
                                            <th class="col-2">Proveedor interno</th>
                                        </tr>
									</ng-template>
									<ng-template pTemplate="body" let-ticketDevices>
                                        <tr>
                                            <td>{{ ticketDevices.id }}</td>
                                            <td>{{ ticketDevices.monitoringDeviceName}}</td>
                                            <td>{{ ticketDevices.monitoringDeviceType}}</td>
                                            <td>
                                                <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': ticketDevices.monitoringDeviceProvider == true, 'text-red-500 pi-times-circle': ticketDevices.monitoringDeviceProvider == false }"></i>
                                            </td>
                                        </tr>
									</ng-template>
									<ng-template pTemplate="emptymessage">
										<tr>
											<td colspan="6">No tiene dispositivos asignados.</td>
										</tr>
									</ng-template>
								</p-table>								
							</div>
						</td>
					</tr>
				</ng-template>
                
            </p-table>
        </div>
    </div>
</div>

