<p-confirmDialog     [style]="{width: '50vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-toast key="msg"></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <!--<p-toast></p-toast> -->
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <div class="my-2"> 
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success  m-2" [routerLink]="['/providers/add/']"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger m-2"  (click)="delete(1,null)" [disabled]="!selectedElements || !selectedElements.length"></button>
                    </div> 
                </ng-template>
            </p-toolbar>

            <p-table #dt 
            [value]="providers"  
            [lazy]="true"
            [resetPageOnSort]="false"
            [multiSortMeta]="[{field: 'id', order: 1}]"
            sortMode="multiple" 
            (onLazyLoad)="load($event)" 
            [lazyLoadOnInit]="true"
            [paginator]="true" 
            [totalRecords]="totalRows"
            [rowsPerPageOptions]="[10,25,50]" 
            [showCurrentPageReport]="true"
            currentPageReportTemplate=" {{ getPageRange(page, limit, totalRows) }}" 
            [(selection)]="selectedElements" selectionMode="multiple"
            [responsive]="true"
            [rows]="10" [rowHover]="true"  dataKey="id" responsiveLayout="scroll"  [tableStyle]="{'min-width': '50rem'}"   >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">
                            ID <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="providerName">
                            NOMBRE <p-sortIcon field="providerName"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <p-columnFilter type="numeric"  [showButtons]="false" field="id"  [matchModeOptions]="matchModeOptionsNumber" > </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="providerName" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th></th>
                    </tr> 
                </ng-template>
                <ng-template pTemplate="body" let-provider>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="provider"></p-tableCheckbox>
                        </td>
                        <td>{{provider.id}}</td>
                        <td>{{provider.providerName}}</td>
                    
                        <td>
                            <div class="flex">
                                <button  pTooltip="Modificar proveedor" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info  p-button-text p-mr-3" [routerLink]="['/providers/edit/', provider.id]"></button>
                                <button  pTooltip="Eliminar proveedor" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger  p-button-text" (click)="delete(2,provider)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

