<p-confirmDialog     [style]="{width: '50vw'}" rejectButtonStyleClass="p-button-outlined" ></p-confirmDialog>
<p-toast key="msg"></p-toast>

<p-dialog header="Motivo de rechazo" [(visible)]="visible" [modal]="true" [style]="{ width: '35vw' }" [draggable]="false" [resizable]="false">
    <div class="col-12 md:col-12 justify-content-between">
        <div class=" p-fluid">          
            <form [formGroup]="form" >
                <div class="field">
                   <!--<span class="p-float-label">-->
                        <!--<label  for="reason" class="col font-semibold">Motivo de rechazo</label>-->
                        <textarea id="reason" formControlName="quotationPurchaseReasonStatus" pInputTextarea style="width: 100%; height: 10rem;"></textarea>
                   <!--</span> -->
                    <div *ngIf="form.controls.quotationPurchaseReasonStatus.invalid">
                            <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.quotationPurchaseReasonStatus.errors?.['required']" >*Campo requerido</small>
                            <small class="text-red-600 flex justify-content-end" *ngIf="form.controls.quotationPurchaseReasonStatus.errors?.['maxlength']" >*Longitud máxima 255</small>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="closeDialogReject()" label="cancelar" styleClass="p-button-outlined"></p-button>
        <p-button icon="pi pi-check" (click)="rejectQuotation()" label="Guardar" styleClass="p-button-primary"></p-button>
    </ng-template>
</p-dialog>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <div class="my-2">  
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success  m-2" [routerLink]="['/quotationPurchases/add/']"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger m-2" (click)="delete(1,null)" [disabled]="!selectedElements || !selectedElements.length"></button>
                    </div> 
                </ng-template>
            </p-toolbar>

            <p-table #dt 
            [value]="quotations"  
            [lazy]="true"
            [resetPageOnSort]="false"
            [multiSortMeta]="[{field: 'id', order: 1}]"
            sortMode="multiple" 
            (onLazyLoad)="load($event)" 
            [lazyLoadOnInit]="true"
            [paginator]="true" 
            [totalRecords]="totalRows"
            [rowsPerPageOptions]="[10,25,50]" 
            [showCurrentPageReport]="true"
            currentPageReportTemplate=" {{ getPageRange(page, limit, totalRows) }}" 
            [(selection)]="selectedElements" selectionMode="multiple"
            [responsive]="true"
            [rows]="10" [rowHover]="true"  dataKey="id" responsiveLayout="scroll"  [breakpoint]="'760px'" [tableStyle]="{'min-width': '50rem'}"   >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">
                            ID <p-sortIcon field="id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="quotationPurchaseDescription" >
                            DESCRIPCIÓN <p-sortIcon field="quotationPurchaseDescription"></p-sortIcon>
                        </th>
                        <th  >
                            PROVEEDOR 
                        </th>
                        <th pSortableColumn="quotationPurchaseStatus" >
                            ESTADO <p-sortIcon field="quotationPurchaseStatus"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <p-columnFilter type="numeric"  [showButtons]="false" field="id"  [matchModeOptions]="matchModeOptionsNumber" > </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="quotationPurchaseDescription" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="quotationPurchaseProviderId['providerName']" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter type="text" field="quotationPurchaseStatus" [matchModeOptions]="matchModeOptionsText" ></p-columnFilter>
                        </th>
                        <th></th>
                    </tr> 
                </ng-template>
                <ng-template pTemplate="body" let-quotationPurchase>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="quotationPurchase"></p-tableCheckbox>
                        </td>
                        <td>{{quotationPurchase.id}}</td>
                        <td>{{quotationPurchase.quotationPurchaseDescription}}</td>
                        <td>{{quotationPurchase.quotationPurchaseProviderId['providerName']}}</td>
                        <td>{{quotationPurchase.quotationPurchaseStatus}}</td>
                    
                        <td>
                            <div class="flex">
                                <button pButton pRipple pTooltip="Modificar cotización" *ngIf="quotationPurchase.quotationPurchaseStatus == 'nueva' " icon="pi pi-pencil" class="p-button-rounded p-button-info  p-button-text p-mr-3" [routerLink]="['/quotationPurchases/edit/', quotationPurchase.id]"></button>
                                <button pButton pRipple pTooltip="Rechazar cotización"  *ngIf="quotationPurchase.quotationPurchaseStatus == 'nueva'   " icon="pi pi-times-circle" class="p-button-rounded p-button-warning  p-button-text p-mr-3" (click)="openDialogReject(quotationPurchase.id)" ></button>
                                <button pTooltip="Procesar cotización" *ngIf="quotationPurchase.quotationPurchaseStatus == 'nueva' " [routerLink]="['/quotationPurchases/process/', quotationPurchase.id]"  pButton pRipple icon="pi pi-shopping-bag" class="p-button-rounded p-button-success  p-button-text  p-mr-4" ></button>
                                <button pButton pRipple pTooltip="Eliminar cotización" icon="pi pi-trash" class="p-button-rounded p-button-danger  p-button-text" (click)="delete(2,quotationPurchase)" ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

